<h1>All Boards</h1>
<br />
<%= link_to "New Board", new_board_path, class: "ui blue button" %>
<hr />
<h2><%= @boards.length <= 0 ? "No Boards" : "" %></h2>



<div class="ui internally celled grid">
  <div class="row">
    <div class="two wide column">
      <%# Insert All Tasks Here %>
    </div>
    <div class="twelve wide column">
      <div class="ui three cards">
        <% @boards.each do |board| %>
          <div class="ui card">
            <div class="content">
              <div class="header">
                <%= link_to board.name, board, class: "item" %>
              </div>
            </div>
            <div class="content">
              <% board.lists.each do |list| %>
                <div class="ui card">
                  <div class="content">
                    <div class="header"><%= link_to list.name, [board, list], class: "item" %></div>
                  </div>
                  <div class="content">
                    <div class="ui middle aligned divided list">
                      <% list.tasks.order_by_due_date.each do |task| %>
                        <div class="item">
                          <div class="right floated content">
                            <% if task[:due_date] %>
                              <i class="clock outline icon"></i><%= task.due_date.strftime("%m/%d/%y") %> |
                            <% end %>
                            <% if task[:completed] %>
                              <i class="check square outline icon"></i>
                            <% else %>
                              <i class="square outline icon"></i>
                            <% end %>
                          </div>
                          <div class="content">
                            <div class="subheader"><%= link_to task.title, edit_list_task_path(list, task) %></div>
                          </div>
                        </div>
                      <% end %> 
                    </div>
                  </div>
                  <div class="ui bottom attached button">
                    <i class="add icon"></i>
                    <%= link_to "New Task", new_list_task_path(list) %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="three wide column">
      <%#  %>
    </div>
  </div>
</div>