 <h1><%= @board.name %>
  <%= link_to edit_board_path(@board) do %>
    <i class="icons">
      <i class="top right corner small grey pencil alternate icon"></i>
    </i>
  <% end %>
</h1>
<br />
<%= link_to "Back to All Boards", root_path, class: "ui button" %>
<%= link_to "New List", new_board_list_path(@board), class: "ui blue button" %>
<%= link_to "Delete Board", board_path(@board), method: :delete, class: "ui red button" %>
<br /><br /><hr />
<h2><%= @board.lists.length <= 0 ? "No Lists" : "" %></h2>

<% @board.lists.each do |list| %>
  <table class="ui striped table">  
    <thead class="center aligned">
      <tr>
        <th colspan="1"><h1><%= link_to list.name, [@board,list], class: "item" %></h1></th>
      </tr>
    </thead>
    <tbody>
      <% list.tasks.each do |task| %>
        <tr class="center aligned">
          <td><%= task.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>